.footer {
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.youtube-card {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.youtube-body {
  justify-content: center;
}
